.carousel {
    width: 290px;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--black) !important;
}

.swiper-pagination-bullet-active {
    background: var(--black) !important;
    opacity: 1;
}

@media (max-width: 767px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .carousel {
        width: 725px;
    }
}

@media (min-width: 1024px) {
    .carousel {
        width: 950px;
    }
}

@media (min-width: 1440px) {
    .carousel {
        width: 1360px;
    }
}