.footer {
    background-color: var(--color-navbar);
    height: 150px;
    width: 100%;
}

.footer__copyright {
    color: var(--white);
    font-size: 18px;
    text-align: center;
    padding-top: 100px;
}