@import url(variables.css);
@import url(header.css);
@import url(footer.css);
@import url(navbar.css);
@import url(sidebar.css);
@import url(carousel.css);
@import url(card.css);
@import url(product.css);
@import url(filter.css);
@import url(category.css);
@import url(search.css);
@import url(login.css);
@import url(register.css);
@import url(profile.css);
@import url(notification.css);
@import url(carrito.css);
@import url(admin.css);

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 115px 0 0 0;
    background-color: var(--white-background-color);
    height: 100vh;
}
h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    font-size: 3.2rem;
    font-weight: 600;
    margin: 40px 0 40px 0;
    text-align: center;
}
h3 {
    text-align: left;
}

.flex-container {
    display: flex;
}

.title--page {
    margin-top: 10px;
    margin-bottom: 20px;
}

.background__shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 35%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 998;
}

.background__shadow--active {
    opacity: 1;
    visibility: visible;
}

.background__blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 998;
}

.background__blur--active {
    opacity: 1;
    visibility: visible;
}

.modal__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.close-icon {
    height: 20px;
    width: 20px;
}

@media (min-width: 1024px) {
    body {
        padding-top: 115px;
    }
}