@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/static/Montserrat-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-content {
    flex: 1 0 auto;
}
  

body {
    display: flex;
    flex-direction: column;
    font-family: montserrat;
    font-size: 12px;
    background-color: #222222;
    padding: 10px;
    box-sizing: border-box;
}

header {
    color: #cccccc;
    background-color: #13324a;
    text-align: center;
    border: 3px solid #204e74;
    border-radius: 15px;
    margin-bottom: 10px;
}

.contenedor {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.info {
    color: #cccccc;
    background-color: #13324a;
    text-align: center;
    border: 3px solid #204e74;
    border-radius: 15px;
    padding: 10px;
}

.info *{
    margin: 5px;
}

.info p{
    color: #43bc84;
}

img {
    border: 3px solid #204e74;
    height: 150px;
    width: 150px;
}

.item {
    font-size: 13px;
    color: #cccccc;
    background-color: #13324a;
    justify-content: center;
    border: 3px solid #204e74;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.item h3 {
    font-size: 18px;
    text-align: center;
    color: #43bc84;
    margin: 7px;
}

.item a {
    color: #c5d2a5 ;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-decoration: underline;
}

footer {
    flex-shrink: 0;
    color: white;
    background-color: #13324a;
    border: 3px solid #204e74;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}


@media (min-width: 550px){

    body{
        font-size: 14px;
        padding: 20px;
    }

    header {
        margin-bottom: 20px;
    }

    .contenedor{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .info {

    }

    .item {
        padding: 10px 30px;
    }

    img {
        height: 250px;
        width: 230px;
    }

}