@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/static/Montserrat-Regular.ttf);
}

body {
    font-family: montserrat;
    font-size: 12px;
    margin: 0px;
    background-color: #222222;
    padding: 10px;
}

header {
    color: #cccccc;
    background-color: #13324a;
    text-align: center;
    border: 3px solid #204e74;
    border-radius: 15px;
    margin-bottom: 10px;
}

.contenedor {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.info {
    color: #cccccc;
    background-color: #13324a;
    text-align: center;
    border: 3px solid #204e74;
    border-radius: 15px;
    padding: 10px;
}

.info *{
    margin: 5px;
}

.info p{
    color: #43bc84;
}

img {
    border: 3px solid #204e74;
    height: 150px;
    width: 150px;
}

.item {
    font-size: 13px;
    color: #cccccc;
    background-color: #13324a;
    justify-content: center;
    border: 3px solid #204e74;
    border-radius: 15px;
    padding: 10px;
}

.item h3 {
    font-size: 18px;
    text-align: center;
    color: #43bc84;
    margin: 7px;
}

.item a {
    color: #c5d2a5 ;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-decoration: underline;
}