@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/static/Montserrat-Regular.ttf) format(truetype);
}

@font-face {
    font-family: montserrat-bold;
    src: url(fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

#titulo {
    background-color: #f5f5dc;
    align-content: center;
    border: 4px solid #adad9d;
    border-radius: 10px;
    font-family: montserrat;
    margin: 10px;
    text-align: center;
}

.contenedor{
    display: flex;
}

.item {
    width: 65%;
    background-color: beige;
    border: 4px solid #adad9d;
    border-radius: 10px;
    font-family: montserrat;
    padding: 10px;
    margin: 10px
}

#imagen {
    width: 220px;
    background-color: beige;
    border: 4px solid #adad9d;
    border-radius: 10px;
    font-family: montserrat;
    padding: 10px;
    margin: 10px;
}

img {
    width: 200px;
}

h2 {
    font-family: montserrat;
    text-align: center;
    margin: 0px
}

#x1 {
    margin: 0px;
}

span {
    font-family: montserrat-bold;
    width: 900
}