@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

body {
    font-family: montserrat;
    font-size: 10px;
    background-color: #222222;
}

nav {
    display: flex;
    background-color: #13324a;
    border: 3px solid #204e74;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    gap: 5px;
}

.item {
    display: flex;
    background-color: #296b9d;
    border-radius: 7px;
    align-items: center;
    padding: 3px;
    transition: background-color 0.3s;
}

.item *{
    color: white;
    text-decoration: none;
}

.item:hover {
    background-color: #949369;
}

#Return {
    width: 20px;
    height: 20px;
}

.indice {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #13324a;
    border: 3px solid #204e74;
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
}

img {
    max-width: 200px;
    max-height: 200px;
}

span {
    color: #43bc84;
}